*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
border-radius: 20px;
    width: 1200px;
    height: 400px;
    margin: 100px auto ;
    background-color: rgb(245, 245, 200);
    font-style: italic;
    margin-top: 40px;
    margin-left: -3px;
    margin: 0 auto;
}

.bg-primary{
    margin-top: 4px;
  border-radius: 9px;  
display: flex;
justify-content: center;
}